---
import CategoryCard from "../components/CategoryCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>FASHION R US</h1>
  <section class="category_section">
    <h2 class="category_header">CATEGORIES</h2>
    <div class="category_grid">
      <CategoryCard />
      <CategoryCard />
      <CategoryCard />
      <CategoryCard />
    </div>
  </section>
</Layout>
