---
import Header from "../components/Header.astro";
import "../css/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FashionRus</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="./js/category.js" defer></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
